
#preload {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: #fff;
  background-image: url('../img/Magnify.gif');
  background-size: 298px 298px;
  background-position: center;
  background-repeat: no-repeat;
}

#campo_busca h2{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: #59bbd6;
}

#Pesquisar{
	text-align: center;
	margin-top: 20px;
}
#campo_busca img{
	margin: 10px auto;
}

#Pesquisar .botao_pesquisa{
	background-color: #337ab7;
    color: #fff;
    border: none;
    padding: 6px 6px;
    text-transform: uppercase;
    box-shadow: none;
     outline: none;
}
#Pesquisar .campo_pesquisa{
	box-shadow: none;
    color: #fff;
    outline: none;
    background-color: #59bbd6;
    border: none;
    padding: 7px 6px;
}

#Pesquisar .campo_pesquisa::-moz-placeholder{
	color: #fff;
}

#Pesquisar .campo_pesquisa::-webkit-input-placeholder{
	color: #fff;
}

#Pesquisar .campo_pesquisa:-ms-input-placeholder{
	color: #fff;
}

.resultado h2{
	padding-top: 40px;
    padding-left: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f79804;
}

#myModal .modal-content .modal-body .formulario .form-control,#myModalUp .modal-content .modal-body .formulario .form-control,#modalCad .modal-content .modal-body .formulario .form-control,#myModalCargo .modal-content .modal-body .formulario .form-control,#myModalMap .modal-content .modal-body .formulario .form-control{
	border-radius: 0;
    margin: 10px;
    background-color: #e0e7eb;
    border: none;
    outline: none;
    outline: none;
	box-shadow: none;

}
#myModal .modal-content .modal-body .formulario button,#myModalUp .modal-content .modal-body .formulario button,#modalCad  .modal-content .modal-body .formulario button,#myModalCargo .modal-content .modal-body .formulario button,#myModalMap .modal-content .modal-body .formulario button{
	background-color: #085477;
    color: #fff;
    border: none;
    padding: 5px 40px;
    text-align: center;
    margin-left: 25px;
}
#myModal .modal-content .modal-header .modal-title,#myModalUp .modal-content .modal-header .modal-title,#modalCad .modal-content .modal-header .modal-title,#myModalCargo .modal-content .modal-header .modal-title,#myModalMap .modal-content .modal-header .modal-title{
	color: #085477;
}

#painel{
    background-image: url('../img/bg-clientes.jpg');
    background-attachment: fixed;
}
.jumbotron{
    background-color: transparent;
    color: #fff; 
    border-radius: 0 !important; 
    padding-bottom: 232px; 

}
.jumbotron h1{
  padding-top: 132px;
  color: #4be6d8;
}
.jumbotron button{
	border-radius: 0;
}

/* Alerta de Sucesso do Cadastro */

#alert,#alert_ex,#alert_up,#alert_cad,#alert_log,#alert_exis,#alert_pass{
  display: none;
  position: fixed;
  top: 10px;
  right: 30px;
}

/* Modal de Excluir */
.modal .modal-content{
  background-color: #59bbd6;
  color: #fff;
}

.modal .modal-content .modal-header .modal-title{
  text-transform: uppercase;
}

/* Pagina de Login */

.bloco-login{
  width: 40%;
  margin: 0 auto;
}

.bloco-login img{
  margin: 20px auto;
}
.bloco-login h1{
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.bloco-login .form-control{
  margin-top: 5px;
  margin-bottom: 5px;
  border-color: #006000;
  color: #006000;
}
.bloco-login .formulario button, #submit_login{
  margin-top: 10px;
  margin-left: 15px;
}
.btn-green{
  background:green;
  color:#fff;
  box-shadow:0 5px 0 #006000;
  outline: none !important;
}

.btn-green:hover{
  background:#006000;
  box-shadow:0 5px 0 #003f00;
  color: #fff;
}
.btn-green:active{
  position:relative;
  top:5px;
  box-shadow: none !important;
 color: #fff;
}

.bloco-login .formulario .form-control::-moz-placeholder{
  color: #000;
}

.bloco-login .formulario .form-control::-webkit-input-placeholder{
  color: #000;
}

.bloco-login .formulario .form-control:-ms-input-placeholder{
  color: #000;
}

#select{
  color: #fff;
  margin-left: 25px;
  border: none;
  background-color: #085477;
  padding: 7px;
}

/* Botão de Logout */
.logout{
  position: fixed;
  top: 20px;
  right: 20px;
}

.logout a{
    text-decoration: none;
    background-color: #f53d3d;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    outline: none;
    box-shadow: none;
}
.logout a i{
  padding: 10px;
}

/* Página de Admin */

#admin_topo{
  color: #fff;
  background-color: #000;
  text-align: center;
  padding: 10px;
}

#admin_topo h2{
  text-transform: uppercase;
}
#progre{
  width: 80%;
  margin: 100px auto;
}

#progre h2{
  text-transform: uppercase;
  font-weight: bold;
}

#estat{
  margin-top: 50px;
}

#estat .info{
  text-align: center;
}
#estat .info h2{
  text-transform: uppercase;
  font-weight: bold;
  color: #2b4d82;
}
#estat .info p{
  font-size: 17px;
}

#form_est{
  margin: 0 auto;
  width: 70%;
}

#submitEst{
    border: none;
    background-color: #000;
    color: #fff;
    padding: 8px;
    text-transform: uppercase;
    float: left;
    margin-top: 20px;
}

#form_est form h2{
  text-transform: uppercase;
  font-weight: bold;
}

#form_est form input{
  width: 380px;
}
#form_est form .bloco{
  padding-top: 30px;
}


/* MAPA */
#info-map h2{
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin-top: 40px;
  text-transform: uppercase;
  color: #e62626;
}

#info-map img{
  margin: 0 auto;
  margin-bottom: 40px;
}

